{% extends "base.html" %}
{% block nav_home_active_class %} class="active"{% endblock %}
{% block page_title %}TransitTimes Home{% endblock %}
{% block page_top_content %}Select the Agency you would like to find info about.{% endblock %}
{% block page_middle_content %}
<div class="form-group">
    <textarea placeholder="You can search here" class="form-control" rows="1" id="agency_search"></textarea>
</div>
<div class="list-group">
{% for agency in agencies %}
  {% if forloop.first %}<ul>{% endif %}
    <a href="{% url 'route_list' agency_name=agency.name %}" class="list-group-item">{{ agency.name }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% empty %}
  <p><em>No agencies yet.</em></p>
{% endfor %}
</div>
{% endblock %}
