{% extends "base.html" %}
{% block nav_home_active_class %} class="active"{% endblock %}
{% block page_title %}Routes for {{agency.name}}{% endblock %}
{% block page_top_content %}Select the route of {{agency.name}} you would like to find info about.{% endblock %}
{% block page_middle_content %}
<div class="list-group">
{% for route in routes %}
  {% if forloop.first %}<ul>{% endif %}
    <a href="{% url 'route_detail' route_id=route.pk %}" class="list-group-item">{{ route.long_name }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% empty %}
  <p><em>No routes found yet.</em></p>
{% endfor %}
</div>
{% endblock %}
