{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}
    {% if geom %}
        <script src="http://openlayers.org/api/OpenLayers.js"></script>
        <script src="{% static 'js/maps.js' %}"></script>
    {% endif %}
{% endblock %}

{% block nav_home_active_class %} class="active"{% endblock %}
{% block page_title %}
   {% if agency.url %}
       Routes for <a href="{{ agency.url }}">{{agency.name}}</a>
   {% else %}
       Routes for {{agency.name}}
   {% endif %}
{% endblock %}
{% block page_below_title %}
     {% if geom %}
         <div class="row" style="height:300px" id="mapdiv"></div>
     {% endif %}
{% endblock %}
      <a href="{% url 'stops' route_id=route.route_id agency_id=agency.agency_id%}" class="list-group-item">{{ route.long_name }}</a>

{% block page_top_content %}
       Select the route of this agency you would like to find info about.
{% endblock %}

{% block page_middle_content %}
<div class="form-group">
    <textarea placeholder="You can search for a route name here" class="form-control" rows="1" id="text_search"></textarea>
</div>
<div class="list-group" id="list">
    {% include "routes_list.html" %}
</div>
{% endblock %}
{% block body_script %}
    <script type="text/javascript" src="{% static "js/updatelist.js" %}"></script>
    {% if geom %}
        <script type="text/javascript" defer>
		map.mapLines('mapdiv', ['{{geom.wkt}}'],false);
        </script>
    {% endif %}
{% endblock %}
